@model film
@{
    Layout = "_MainLayout";
}
<div class="text-center">
    <div>
        <img src="@Url.Content("~/Grafiki/" + Model.PlakatUrl)" alt="Opis obrazka" width=200 />
        <p>@Model.Rezyser</p>
        <p>@Model.Opis</p>
        <p>@Model.DataDodania</p>
        <form asp-controller="Koszyk" asp-action="Kup" method="post">
            <input type="hidden" name="id" value="@Model.Id" />
            <button type="submit">Dodaj do koszyka</button>
        </form>
    </div>
</div>
