@model film
@{
    Layout = "_MainLayout";
}
<div class="text-center">
    <div>
        <h1>@Model.Tytul</h1>
        <p>@Model.Kategoria</p>
        <p>@Model.Rezyser</p>
        <p>@Model.Opis</p>
        <p>@Model.DataDodania</p>
    </div>
</div>
