@model IEnumerable<ElementKoszyka>
@{
}

<table class="table">
    @if (Model != null)
    {
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tytuł</th>
                <th scope="col">Ilość</th>
                <th scope="col">Wartość</th>
                <th scope="col">Akcje</th>
            </tr>
        @for (int i = 0; i < Model.Count(); i++)
        {
                <tr>
                    <th scope="row">@(i + 1)</th>
                    <td>@Model.ElementAt(i).Film.Tytul</td>
                    <td>@Model.ElementAt(i).Ilosc</td>
                    <td>@Model.ElementAt(i).Wartosc</td>
                            <td><a href="@Url.Action("Usun","Koszyk", new {id = Model.ElementAt(i).Film.Id})">Usun</a></td>
                </tr>
        }
            <tr>
                <td colspan="5">
                    Cena: @ViewBag.CalaSuma zł
                </td>
            </tr>
    }
    else
    {
            <div>
                Brak elementow w koszyku
            </div>
    }

</table>

@section Scripts {
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script type="text/javascript">
            $(".trash").click(function () {
                var id = $(this).data("id");

                if(idFilmu != ''){
                        $.post("./Koszyk/Usun", { id: idFilmu }, function (response) {
                    if(response.ilosc == 0){
                        $("#KosztkRz-"+response.Id)fadeOut("slow");
                    }
                    else{
                        $("#element-"+response.Id).text(response.ilosc);
                    }
                });
                }
            });
            </script>
}